<div class="row">
  <div class="col-md-4">
    <h2>METRO</h2>
    <p>Super société</p>
    <p>Tel: 0102030405</p>
    <p>E-mail: contact@metro.orsys</p>
    <p><a class="btn btn-info" href="#" role="button">En savoir plus &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>MetroCars</h2>
    <p>Location de voitures</p>
    <p>Tel: 0102030406</p>
    <p>E-mail: metrocars@metro.orsys</p>
    <p><a class="btn btn-info" href="#" role="button">En savoir plus &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>Rien à dire</h2>
    <p>COUCOU</p>
    <p><a class="btn btn-info" href="#" role="button">En savoir plus &raquo;</a></p>
  </div>
</div>

<hr>
