<div class="row">
  <div class="col-md-4">
    <h2>Aujourd'hui</h2>
    <p>La nouvelle Lamborghini est arrivée...</p>
    <p>Bientôt en location</p>
    <p><a class="btn btn-info" href="#" role="button">En savoir plus &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>Interview</h2>
    <p>Si je t'emmerde, tu me le dis, si vraiment tu veux te rappeler des souvenirs de ton perroquet, le cycle du cosmos dans la vie... c'est une grande roue parce que spirituellement, on est tous ensemble, ok ? Il y a un an, je t'aurais parlé de mes muscles. </p>
    <p><a class="btn btn-info" href="#" role="button">En savoir plus &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>Suite... [FF]</h2>
    <p>Ça sounds good, si vraiment tu veux te rappeler des souvenirs de ton perroquet, entre penser et dire, il y a un monde de différence car l'aboutissement de l'instinct, c'est l'amour ! Et j'ai toujours grandi parmi les chiens. </p>

    <p><a class="btn btn-info" href="#" role="button">En savoir plus &raquo;</a></p>
  </div>
</div>

<hr>
